[Desktop Entry]
Type=Application
Name=Game Smith
Comment=Cross-platform game server management tool
Exec=game-smith start
Icon=game-smith
Categories=Utility;
Terminal=false
StartupNotify=true